$dark-purple: #240D57;
$dark-blue: #501FC1;
$light-purple: #8456EC;
$pink: #E87BF8;
$lighter-purple: #CCB6FF;
$wheat: #EDE5FF;
$light-wheat: #F6F2FF;
$light-pink: #FFD7E0;
$red: #E61445;
$sky-blue: #D3FFE2;
$green: #00805E;
$dark-grey: #4F4F4F;
$semi-dark-grey: #828282;
$grey: #BDBDBD;
$light-grey: #E0E0E0;
$lighter-grey: #F2F2F2;
$white: #BDBDBD;
